body {
    margin: 0;
}

img {
    margin-top: 9%;
}

.all {
    text-align: center;
    background-color: rgb(189, 149, 149);
    width: 18%;
    margin-top: 1%;
    margin-left: 41%;
    margin-right: 41%;
}


